@import url('https://fonts.googleapis.com/css2?family=Onest:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Onest', sans-serif;
}

html,
body {
    height: 100%;
    background-color: #F7F7F7;
}

.wrap {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.content {
    flex: 1 0 auto;
}

header {
    background-color: #ffffff;
    display: flex;
    align-items: center;
    width: 100%;
    height: 15vh;
}

.container {
    padding: 0 30px;
}

.header__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
    width: 100%;
    flex-wrap: wrap;
}

.logo img {
    height: 30px;
}

.links {
    display: flex;
    gap: 20px;
}

.links a {
    color: #1F2125;
    font-weight: 500;
    text-decoration: none;
    font-size: 16px;
}

.links a:hover {
    text-decoration: underline;
}

.button a {
    color: #ffffff;
    padding: 15px 20px;
    background-color: #3380ef;
    border-radius: 10px;
    transition: 0.4s all ease-out;
    flex-wrap: wrap;
}

.button a:hover {
    background-color: #0e51b1;
    transition: 0.4s all ease-out;
}


.calc {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #ffffff;
    border-radius: 20px;
    height: 75vh;
    margin: 5vh 10vh;
    display: flex;
    padding: 0 50px;
    align-items: center;
}

.calc__content {
    width: 80vh;
}

.calc__heading {
    font-size: 60px;
    color: #3380ef;
}

.calc__text {
    font-size: 20px;
    font-weight: 500;
}

.calc__text-bold {
    font-weight: 700;
    color: #3380ef;
}

select {
    padding: 15px 35px 15px 15px;
    border-radius: 10px;
    border: 1px solid #1F2125;
    appearance: none;
    width: 300px;
}

.form {
    padding-top: 20px;
    display: flex;
    font-display: row;
    align-items: center;
    gap: 10px;
}

.form-column {
    display: flex;
    flex-direction: column;
    gap: 0px;
}

.count {
    padding: 15px 35px 15px 15px;
    border-radius: 10px;
    border: 1px solid #1F2125;
    appearance: none;
    width: 400px;
}

select {
    padding: 15px 35px 15px 15px;
    border-radius: 10px;
    border: 1px solid #1F2125;
    appearance: none;
    width: 450px;
}

select:hover {
    cursor: pointer;
}

.select-wrapper {
    position: relative;
}

.select-wrapper::before {
    content: "";
    position: absolute;
    font-size: 16px;
    font-weight: 500;
    top: 50%;
    right: 15px;
    transform: translateY(-50%);
    display: block;
    width: 0px;
    margin-top: -2px;
    height: 0px;
    border-style: solid;
    border-width: 6px 5px 0 5px;
    border-color: #3380EF transparent transparent transparent;
    transform: rotate(0deg);
    pointer-events: none;
    cursor: pointer;
    transition: 0.4s all ease-out;
}

.select-wrapper::before:hover {
    border-color: #0e51b1 transparent transparent transparent;
    transition: 0.4s all ease-out;
    cursor: pointer;
}

.form-btn {
    padding: 15px 20px;
    border-radius: 10px;
    border: none;
    background-color: #3380ef;
    color: #ffffff;
    font-size: 16px;
    font-weight: 500;
    transition: 0.4s all ease-out;
}

.form-btn:hover {
    cursor: pointer;
    background-color: #0e51b1;
    transition: 0.4s all ease-out;
    text-decoration: underline;
}

.ans {
    margin-top: 30px;
    font-size: 30px;
    color: #3380ef;
}


.pager {
    cursor: pointer;
}
footer {
    background-color: #ffffff;
}

.footer__container {
    padding: 20px 30px;
    color: #1F2125;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.footer__logos img {
    height: 90px;
}


@media screen and (max-width: 768px) {
    header {
        max-height: 10vh;
    }

    .header__container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .links {
        display: flex;
        flex-direction: row;
    }

    .links a {
        font-size: 13px;
    }

    .logo img {
        height: 20px;
    }

    .calc {
        height: 84vh;
        margin: 2vh 1vh;
    }

    .count {
        width: 230px;
    }

    select {
        width: 280px;
    }

    .form-btn {
        font-size: 13px !important;
    }

    .calc__heading {
        font-size: 40px;
    }

    .calc__text {
        font-size: 13px;
    }

}

@media screen and (max-width: 400px) {
    .links {
        display: flex;
        flex-direction: row;
        align-items: baseline;
    }

    .button a {
        padding: 0;
        color: #3380ef;
        background-color: transparent;
    }
}

.gallery-container {
    width: 100%;

    margin: 0 auto;
  }
  
  .slider {
    width: 100%;
  }
  
  .slide {
    padding: 10px;
  }

  .slide img {
    border-radius: 20px;
  }
  
  img {
    width: 100%;
  }
  
  .prev-arrow,
  .next-arrow {
    font-size: 24px;
    color: #333;
    cursor: pointer;
  }
  
  .pager {
    text-align: center;
    margin-top: 10px;
  }
  
  .pager-item {
    opacity: .3;
    display: inline-block;
    color: #fff;
    width: 20px;
    height: 20px;
    background-color: gray;
    margin: 0 5px;
    border-radius: 50%;
    cursor: pointer;
  }

  .pager-item:hover {
    opacity: 1;
    background-color: #3380ef;
  }
  