

.khbtn {
    font-size: 20px !important;
}

.a_in_btn {
    color: #fff;
    text-decoration: none;
}

section {
    margin-top: 30px;
}

footer {
    margin-top: 40px;
    background-color: #f8f9fa;
}

.footer__container {
    padding: 20px 30px;
    color: #1F2125;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.footer__logos img {
    height: 90px;
}